body {
  background: #1f2937;
}

* {
  scroll-behavior: smooth;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b15f8300;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b46286;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7e3e5a;
}
